<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">@Html.ActionLink("Data-Driven Professional Development", "Main", "Home")
                </p>
            </div>
            <div class="float-right">
                <section id="login">
                    <div style="float: left;">
                        <div>
                            Hello, Linda Kim
                        </div>
                        <div style="padding-top: 5px;">
                            <a href="#">Log off</a>
                        </div>
                    </div>
                    <div style="float: right; padding-left: 5px;">
                        <a id="myProfile" style="cursor: pointer" href="/Home/MyProfile">
                            <img src="~/Images/mr-t-is-here.png" width="45" />
                        </a>
                    </div>
                </section>
            </div>
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - SLC Hackathon</p>
            </div>
        </div>
    </footer>

    @*<div id="profileDialog" style="display: none;">
        <div>
            <b>Name</b>
        </div>
        <div>
            <span data-bind="text: title" />&nbsp;<span data-bind="text: firstName" />&nbsp;<span data-bind="text: lastName" />
        </div>
    </div>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @*<script src="~/Scripts/knockout-2.1.0.js"></script>*@
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/ExpandCollapse.js"></script>
    @*<script>
        $("#myProfile").click(function () {
            $.getJSON("/home/myProfile", function(data) {
                var parsed = JSON.parse(data);
                ko.applyBindings(new ViewModel(parsed));

                $("#profileDialog").dialog();
            });
            
            function ViewModel(json) {
                //this.title = ko.observable();
                //this.firstName = ko.observable();
                //this.lastName = ko.observable();

                // Update view model properties
                this.title = json.name.personalTitlePrefix;
                this.firstName = json.name.firstName;
                this.lastName = json.name.lastSurname;


            }
        });
    </script>*@
</body>
</html>
